# Version control
.git
.gitignore

# Dependencies
node_modules
npm-debug.log

# Environment variables
.env
.env.*

# Development
.vscode
*.log
*.sqlite3

# Documentation
README.md
docs/

# Build artifacts
dist/
build/
